body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#contact {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #007BFF;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-item {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-item h3 {
    margin-top: 0;
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#link{
    width: 30px;
    height: 30px;
}
